body
{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.box 
{
    width: 60%;
    background-color: white;
    box-shadow: 3px 3px 3px 3px #ccc;
    padding: 35px;
    margin: auto;
}

.heading
{
    text-align: center;
}

#foodie_1
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.start-btn-area
{
    width: 65%;
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5%;
}

.btn--start
{
    background-color: green;
    color: white;
    border: 1px transparent;
    margin: 3%;
    border-radius: 5px;
    width: 125px;
    height: 55px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    font-weight: bold;
    font-size: larger;
}

.btn:hover
{
    cursor: pointer;
    border: 1.5px solid black;
}

.hide
{
    display: none;
}

.question_box
{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#img_question
{
    max-width: 60%;
}

.grid
{
    width: 75%;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 20px 50px;
    margin: 40px;
}

.option-button
{
    font-size: 17px;
    background-color: aliceblue;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 3%;
}

.result_box
{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#score-text
{
    font-weight: 400;
    font-size: larger;
}

.control-btn
{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.next-button
{
    background-color: #0091ea;
    color: white;
    border: 1px transparent;
    margin: 3%;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    font-weight: bold;
    font-size: larger;
}

.quit-button
{
    background-color: #cfd8dc;
    color: black;
    border: 1px transparent;
    margin: 3%;
    border-radius: 5px;
    width: 80px;
    height: 30px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    font-weight:bold;
    font-size:medium;

}

span
{
    font-weight: bold;
}

#gif 
{
    max-width: 80%;
}

@media all and (max-width: 768px){

    .box
    {
        box-shadow: none;
    }


    #question
    {
        text-align: center;
    }
}