body
{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.website_header
{
    width: 100%;
    margin: auto;
    padding: 1%;
    border-bottom: groove;
}

/* Need to float elements to the right and add gap */

#nav
{
    float: right;
    padding-right: 5%;
    padding-bottom: 1%;
}
.fa-face-hand-peeking
{
    color: green;
}

.box 
{
    width: 60%;
    background-color: white;
    padding: 5%;
    margin: auto;
}

.main_box
{
    visibility: visible;
}

.heading
{
    text-align: center;
}

#foodie_1
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.start-btn-area
{
    width: 65%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5%;
}

.btn--start
{
    background-color: green;
    color: white;
    border: 1px transparent;
    margin: 3%;
    border-radius: 5px;
    width: 125px;
    height: 55px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    font-weight: bold;
    font-size: larger;
}

.btn--start:hover
{
    cursor: pointer;
}

.question_box
{
    visibility: hidden;
}